<h1>Random Advertisement</h1>
<% advert = @advertisement.sample %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to advert.title, advert %>
        </h4>
      </div>
    </div>
