h1 {
  color: red;
}
.social-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  background-color: gray;
  text-align: center;
  color: white;
  border-width: 2px;
  border-color: black;
}
