<% if @post.valid? %>
  $('.new-vote').html("<%= escape_javascript(render partial: 'votes/voter', locals: { post: @post }) %>");
  $('.vote-points').html("<%= pluralize(@post.points, 'point') %>")
  $('.up-vote-points').html("<%= pluralize(@post.up_votes, 'up vote') %>")
<% else %>
  $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash[:error] %></div>");
<% end %>
